<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>サンプルページ</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', path='/styles/styles.css')}}">
</head>
<body>
<nav>
    <h2>WSD Blog</h2>
    {% if not user %}
        <ul>
            <li>
                <a href="{{ url_for('register') }}">新規登録</a>
            </li>
            <li>
                <a href="{{ url_for('index') }}">ログイン</a>
            </li>
        </ul>
    {% else %}
        <h3>ようこそ{{ user["username"] }}さん</h3>
        <ul>
            <li>
                <a href="{{ url_for('articles_index') }}">記事一覧</a>
            </li>
            <li>
                <a href="{{ url_for('create_article_page') }}">投稿</a>
            </li>
            <li>
                <a href="{{ url_for('logout') }}" methods="post"> ログアウト </a>
            </li>
        </ul>
    {% endif %}
    {% if error %}
        <p style="color: red">{{ error }}</p>
    {% endif %}
    {% if information %}
        <p style="color: cornflowerblue">{{ information }}</p>
    {% endif %}
</nav>
{% block body %}
{% endblock %}
</body>
</html>