{% extends "base.html" %}
{% block body %}
    <div class="content">
        <h2>ログイン</h2>
        <form action="{{ url_for("login") }}" method="post">
            <div>
                <label for="username">ユーザ名</label>
                <input id="username" type="text" name="username"/>
            </div>
            <div>
                <label for="password">パスワード</label>
                <input id="password" type="password" name="password"/>
            </div>
            <div>
                <button type="submit">送信</button>
            </div>
        </form>
    </div>
{% endblock %}