{% extends "base.html" %}
{% block body %}
    <div class="content">
        <form action="{{ url_for("register") }}" method="post">
            <div>
                <label for="username">ユーザ名</label>
                <input id="username" type="text"/>
            </div>
            <div>
                <label for="password">パスワード</label>
                <input id="password" type="text"/>
            </div>
            <div>
                <label for="password-verify">パスワード(確認)</label>
                <input id="password-verify" type="text"/>
            </div>
            <div>
                <input type="submit" value="送信">
            </div>
        </form>
    </div>
{% endblock %}