{% extends "base.html" %}
{% block body %}
    <div class="content">
        <form action="/register" method="post">
            <div>
                <label for="username">ユーザ名</label>
                <input id="username" type="text" name="username"/>
            </div>
            <div>
                <label for="password">パスワード</label>
                <input id="password" type="password" name="password"/>
            </div>
            <div>
                <label for="password-verify">パスワード(確認)</label>
                <input id="password-verify" type="password"/>
            </div>
            <div>
                <button type="submit">送信</button>
            </div>
        </form>
    </div>
{% endblock %}